<div id="available-things" v-cloak>
  <div class="container">
    <div class="page-header text-center">
      <h1>Thing : {{a}}</h1>
      <h2>View available items to borrow, or upload your own things</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary">Add an item</button>
      </div>
    </div>
    <div class="listings" v-if="things.length > 0">
      <div v-for="thing in things" class="card" :key="'thing'+thing.id">
        <div class="card-options">
          <span  class="options-button" data-toggle="tooltip" data-placement="top" title="Delete" 
          @click="clickDeleteThing(thing.id)" :v-if="thing.owner.id === me.id" >
          <span class="fa fa-trash-o text-danger"></span>
        </span>
        </div>
        <span class="label" v-if="thing.label">{{ thing.label }}<br></span>
        <small class="owner text-secondary" v-if="me.id === thing.owner.id"><span class="fa fa-home mr-1"></span>
          Mine</small>
        <small class="owner text-primary" v-else>{{ thing.owner.id }}Name</small>
      </div>
    </div>
    <div class="empty text-center" v-else><p>You and your friends have not uploaded any items. Add something 
      to got started!</p></div>
  </div>

  <% /* "Confirm Delete Thing Modal" */ %>

  <modal v-if="confirmDeleteThingModelOpen && selectedThing " v-cloak key="delete" 
  @close="closeDeleteThingModal()" >
    <ajax-form action="destroyOneThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingDeletingForm" @submitted="submittedDeleteThingForm()">
        <div class="modal-header">
            <h5 class="modal-title">Remove this item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to remove this {{ selectedThing.label || 'item' }}?</p>
            <p>This item will no longer be availableto share with friends.</p>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
            <button type="submit" class="btn btn-danger ml-1">Remove</button>
        </div>
      </ajax-form>
  </modal>

  <!-- <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/things/available-things.less</em>, <em>assets/js/pages/things/available-things.page.js</em>, and <em>api/controllers/things/view-available-things.js</em>.)</p> -->
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>
